---
- name: Criar Security Group do cluster Kubernetes
  amazon.aws.ec2_group:
    name: "{{ sec_group_name }}"
    description: Security Group Kubernetes Cluster
    vpc_id: "{{ vpc_id }}"
    profile: "{{ profile }}"
    region: "{{ region }}"

    rules:
      # SSH (em produção, restrinja ao seu IP)
      - proto: tcp
        from_port: 22
        to_port: 22
        cidr_ip: 0.0.0.0/0

      # Kubernetes API Server
      - proto: tcp
        from_port: 6443
        to_port: 6443
        cidr_ip: "{{ vpc_cidr }}"

      # etcd (control-plane)
      - proto: tcp
        from_port: 2379
        to_port: 2380
        cidr_ip: "{{ vpc_cidr }}"

      # kubelet API
      - proto: tcp
        from_port: 10250
        to_port: 10250
        cidr_ip: "{{ vpc_cidr }}"

      # NodePort Services
      - proto: tcp
        from_port: 30000
        to_port: 32767
        cidr_ip: "{{ vpc_cidr }}"

      # Weave Net (CNI)
      - proto: tcp
        from_port: 6783
        to_port: 6784
        cidr_ip: "{{ vpc_cidr }}"
     
      - proto: udp
        from_port: 6783
        to_port: 6784
        cidr_ip: "{{ vpc_cidr }}"

      # Grafana (NodePort fixo)
      - proto: tcp
        from_port: 31120
        to_port: 31120
        cidr_ip: 0.0.0.0/0

     # Giropops
      - proto: tcp
        from_port: 32222
        to_port: 32222
        cidr_ip: 0.0.0.0/0

      # Giropops
      - proto: tcp
        from_port: 32111
        to_port: 32111
        cidr_ip: 0.0.0.0/0



    rules_egress:
      - proto: all
        cidr_ip: 0.0.0.0/0

