- name: Check if Helm is installed
  command: helm version --short
  register: helm_check
  ignore_errors: true
  changed_when: false

- name: Download Helm install script
  get_url:
    url: "{{ helm_url }}"
    dest: /tmp/get_helm.sh
    mode: '0775'
  when: helm_check.failed

- name: Install Helm
  shell: /tmp/get_helm.sh
  when: helm_check.failed
  register: install_helm

- name: Helm version
  command: helm version --short
  register: helm_version
  changed_when: false

- name: Helm installed successfully
  debug:
    msg: "Helm instalado: {{ helm_version.stdout }}"

