---
- name: Install python kubernetes dependencies (system packages)
  apt:
    name:
      - python3-pip
      - python3-kubernetes
      - python3-yaml
    state: present
    update_cache: yes
  become: true

- name: Garantir namespace monitoring
  kubernetes.core.k8s:
    kubeconfig: /etc/kubernetes/admin.conf
    api_version: v1
    kind: Namespace
    name: "{{ monitoring_namespace }}"
    state: present

- name: Adicionar repo prometheus-community
  kubernetes.core.helm_repository:
    name: prometheus-community
    repo_url: https://prometheus-community.github.io/helm-charts

- name: Gerar values.yaml do Grafana
  template:
    src: values.yaml.j2
    dest: /tmp/kube-prometheus-values.yaml

- name: Instalar/Atualizar kube-prometheus-stack
  kubernetes.core.helm:
    kubeconfig: /etc/kubernetes/admin.conf
    name: "{{ prometheus_release_name }}"
    chart_ref: "{{ prometheus_chart }}"
    release_namespace: "{{ monitoring_namespace }}"
    values_files:
      - /tmp/kube-prometheus-values.yaml
    state: present
    wait: true

